[package]
name = "comic_sort"
version = "1.7.0"
authors = ["Ondřej Vágner <ondrej.vagner@gmail.com>"]
edition = "2018"
description = "Moves webcomic files into their appropriate folders"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
app_dirs2 = "2.0"
chrono = "0.4"
clap = "2.33"
colored = "2.0"
glob = "0.3"
regex = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
shellexpand = "2.0"
